body{
  color: white;
}

.upside-down {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.hidden{
  display:none;
}

div{
  font-family: 'Open Sans', sans-serif;
}
  
#d-pad, #name-and-color, #gyro-calibration, #gyro-pad{
  display: none;
}

#name-and-color, #gyro-calibration, #welcome, #gyro-pad{
    width: 100%;
    height: 100%;
}

#characterScreen{
  height: 100%;
  width: 40%;
  float: left;
}

#characterScreen #playerCharacter{
  height: 80px;
  width: 80px;
  margin: 50% auto;
  transform: scale(2,2);
}
#playerStats{
  height: 100%;
  width: 60%;
  float: left;
}
#playerStats .name-container{
  margin-top: 35px;
  color: white;
  height: 10%;
}

#playerStats .colorWrapper{
}

#playerStats .colorWrapper p{
  margin: 0;
}

#playerStats .colorWrapper .color-container{
  height: 30%;
  width: 80%;
}

#playerStats .color-container .player-color{
  float: left;
  height: 50%;
  width: 25%;
  cursor: pointer;
}

#playerStats #movementSettings {
  margin-top: 10px
}

#playerStats #movementSettings input{
  width: 20px;
  height: 20px;
}

#playerStats #movementSettings label{
  vertical-align: 5px;
}

.selected {
  box-sizing:border-box;
  border:2px solid orange;
}

.play-button{
  color: white;
  background-color: #167F39;
  border: 1px solid #167F39;
  width: 40%;
  height: 12%;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  border-radius: 15px;
  font-size: 27px;
  cursor: pointer;
}

.play-button:hover{
  background-color: #044C29;
  border: 1px solid #044C29;
}

#my-DPad {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0px;
  left: 5%;
}
#button-bomb {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 5%;
  top: 0px;
}

#button-bomb-gyro {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 5%;
  top: 0px;
}
  
#calibrateBtn{
  width:50%;
  height:50%;
  margin-left:25%;
  margin-top:15%;
}

/*  GYRO INDICATOR  */

#gyro-indicator{
  border:solid 2px #ccf400;
}

#gyro-indicator-pointer{
    position: absolute;
    width: 8%;
    height: 8%;
    top: 46%;
    left: 46%;
    background-color: orange;
    -moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	border-radius: 50%;
}

.square-box{
    position: relative;
    width: 50%;
    overflow: hidden;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

#gyro-left{
  height:100%;
}
/*.square-content div {*/
/*   display: table;*/
/*   width: 100%;*/
/*   height: 100%;*/
/*}*/
/*.square-content span {*/
/*    display: table-cell;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    color: white*/
/*}*/

/*Up pointing*/
#triangle-up {
    position: absolute;
    margin-top: 50%;
    width: 100%;
    height: 0;
    padding-left: 50%;
    padding-bottom: 50%;
    overflow: hidden;
}
#triangle-up:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #ccf400;
}

/*Right pointing*/
#triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 50%;
    overflow: hidden;
}
#triangle-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    margin-left: -500px;
    
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #ccf400;
}

/*Down pointing*/
#triangle-down {
    position: absolute;
    width: 100%;
    height: 0;
    padding-left: 50%;
    padding-top: 50%;
    overflow: hidden;
}
#triangle-down:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px;
    
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-top: 500px solid #ccf400;
}

/*Left pointing*/
#triangle-left {
    position: absolute;
    margin-left: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    overflow: hidden;
}
#triangle-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 500px solid #ccf400;
}


