@font-face {
    font-family: bombermanFont;
    src: url(Bomberman.ttf);
}

html,
body,
#bomber,
.gui {
    width: 100%;
    height: 100%;
}

html,
#bomber {
    background: black;
}

body {
    margin: 0px;
}

.gui {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
}

.hidden {
    display: none;
}

#lobby,
#game-over{
    width: 100%;
    height: 100%;
    background: url("../resource/Background_1.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.airbomber-header{
    -webkit-text-stroke: 3px black;
   color: white;
   text-shadow:
        7px 7px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.text{
    font-size:37px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow:
      3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

#lobby #slots {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    bottom: -310px;
}

#lobby .airbomber-header,
#game-over .airbomber-header{
    width: 605px;
    margin: 0 auto;
    font-family: bombermanFont;
}

#game-over .airbomber-header{
    padding-top: 100px;
    font-size: 90px;
}

#lobby .lobby-button {
    float: left;
    width: 300px;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 27px;
    cursor: pointer;
}

#lobby .host-button {
    background-color: #0082C1;
    border: 1px solid #0082C1;
}

#lobby .host-button:hover {
    background-color: #3B5EC1;
    border: 1px solid #3B5EC1;
}

#lobby .airbomber-header .airbomber-text,
#stage-select .airbomber-header .airbomber-text,
#pending-game .airbomber-header .airbomber-text {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 90px;
}

#stage-select .airbomber-header {
    width: 715px;
    margin: 0 auto;
    color: #FFD34E;
    font-family: bombermanFont;
}

#pending-game .airbomber-header {
    width: 463px;
    margin: 0 auto;
    color: #FFD34E;
    font-family: bombermanFont;
}

#stage-select #stages {
    float: left;
    height: 48%;
    width: 21.9%;
}

#stage-select #stages .stage {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

#stage-select #stages .stage img {
    width: inherit;
    height: 269px;
}

#stage-select {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#stage-select .arrow {
    float: left;
    height: 15%;
    width: 9%;
    margin-top: 9%;
    cursor: pointer;
}

#stage-select #arrow-left {
    margin-left: 30.1%;
}

#pending-game {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pending-game #players {
    margin: 0 auto;
    width: 80%;
    height: 45%;
}

#pending-game .player:first-child {
    margin-left: 0;
}

#pending-game .player {
    height: 100%;
    background: #3E454C;
    border-radius: 65px;
    margin-left: 1%;
    text-align: center;
    width: 24%;
    float: left;
}

#pending-game .player .player-name {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 38px;
}

#pending-game .player img {
    width: 50%;
}

#pending-game .pending-game-buttons {
    margin-left: 36%;
    margin-top: 5%;
    width: 28%;
    height: 5%;
    text-align: center;
}

#pending-game .lobby-button {
    float: left;
    width: 49%;
    height: 100%;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 27px;
    cursor: pointer;
}

#pending-game .leave-button {
    margin-left: 2%;
}

#pending-game .start-button {
    background-color: #0082C1;
    border: 1px solid #0082C1;
}

#pending-game .leave-button {
    background-color: #FFC44E;
    border: 1px solid #FFC44E;
}

#level {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

#leave-modal {
    position: fixed;
    top:30%;
    left:30%;
    width:40%;
    height:40%;
    background: red;
    text-align: center;
}

#leave-modal div {
    display: inline-block;
    margin-top: 27%;
}

#game-over #winner{
    width: 35%;
    margin: 50px auto;
    font-size: 43px;
    text-align:center;
}

#game-over .bomb-in-text{
    width: 36px;
    height: 36px;
    display: inline-block;
    transform: scale(1.5,1.5);
    background: url("../resource/bomb.png") no-repeat 0 0;
}

#game-over #game-over-text{
    text-align: center;
    margin-top: 45px;
    font-size: 30px;
}

#game-over .airbomber-text{
    -webkit-text-stroke: 4px black;
    font-size: 43px;
    font-family: bombermanFont;
}

#game-over .winner-picture{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#game-over img{
    transform: scale(1.5,1.5);
}